<div class="movie">
    <h2>{{title}}</h2>
    <img src="{{image}}">
    <p>Available Tickets: {{tickets}}</p><button><a href="#/buy/{{objectId}}?origin={{@root.origin}}">Buy Ticket</a></button>
    <button><a href="#/details/{{objectId}}">Details</a></button>
</div>